.container-green
{
    background-color: green;
    color:white;
    width:23%;
    margin: 15 auto;
	line-height: 1.3;
    font-size:18px;
}
.container-blue
{
    background-color: blue;
    color:white;
    width:25%;
    padding:56px;
    margin: 15 auto;
	line-height: 1.3;
    font-size:18px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
